.header {
	text-align: center;
}

#slider {
	margin: 0;
	padding: 0;
}

a.hover .taskItem {
	color: red;
}

#reminder {
	display: none;
}

ul.tasks {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
i.fa-pencil {
	position: fixed;
	left: 50%;
}

li.task {
	background-color: #F8F8F8;
	padding: 5px 20px 5px 20px;
	border-bottom: 1px solid #615161;
	border-radius: 5px;
}


